footer
    background #E5E5E5
    .footer-bg
        background-image linear-gradient(90deg, #E5E5E5 50%, #D8D8D8 50%, #D8D8D8)
        padding 25px 0
        > .center
            display flex
            > div
                width 50%
        +mobile()
            padding 20px 0
            background none
            .center
                display block
                > div
                    width 100%
    .left
        clearfix()
        nav
            float right
            padding-right 40px
            +below($tablet)
                display none
            a
                display block
                lato 14
                color $azul
                + a
                    margin-top 5px
                &:hover
                    color $azulMarcacao
    .marca
        float left
        padding-top 5px
        img
            display block
        p
            lato 15
            color $azul
            margin 10px 0 15px
            +tablet()
                font-size 14px
            +mobile()
                font-size 13px
        .facebook
            display block
            height 16px
            line-height 16px
            lato 12
            color $azul
            padding-left 22px
            background $img('facebook.png') no-repeat left center
            &:hover
                color $azulMarcacao
    .right
        padding-left 40px
        color $azul
        lato 16
        .telefone
            font-weight bold
            margin 0
        .email
            margin 0
            &:hover
                color $azulMarcacao
        .endereco
            margin 20px 0 0
        +mobile()
            padding 0
            margin-top 20px
            font-size 15px
    .copyright
        background $azul
        padding 5px 0
        p
            text-align center
            color #fff
            margin 0
            lato 10
            a:hover
                color $azulDestaque
        span
            display inline-block
            margin 0 2px
        +mobile()
            span
                display block
                font-size 0
