.area-do-cliente
    overflow hidden
    border-top 1px solid $azul
    +below($tablet)
        margin-bottom 10px
    .center
        clearfix()
    a
        float right
        display inline-block
        padding-left 20px
        height 20px
        line-height 20px
        background $azulBg
        lato 13
        color $azul
        position relative
        &:hover
            color $azulMarcacao
        &:before
            content ''
            position absolute
            width 0
            height 0
            border-style solid
            border-width 0 20px 20px 0
            border-color transparent $azulBg transparent transparent
            top 0
            left -20px
        &:after
            content ''
            width 9000px
            height 100%
            position absolute
            left 100%
            top 0
            background $azulBg

header
    .center
        display flex
        justify-content center
        align-items center
    .logo
        display block
        width 149px
        height 38px
        text-indent -9999px
        background $img('nytron.png') no-repeat center
    .facebook
        display block
        width 16px
        height 16px
        text-indent -9999px
        background $img('facebook.png') no-repeat center
        +below($tablet)
            margin-left auto
    #nav-desktop
        display flex
        margin 0 30px
        +below($tablet)
            display none
        a
            display block
            padding 30px 20px
            transition background .3s
            lato 14
            text-transform uppercase
            color $azul
            &:hover
            &.active
                background $azulBg

#mobile-toggle
    +above($tablet)
        display none
    display block
    background-color transparent
    border 0
    position relative
    height 24px
    width 28px
    outline 0
    padding 0
    cursor pointer
    margin-left 25px
    .lines
        display block
        width 100%
        height 4px
        background $azul
        position relative
        transition .3s ease
        border-radius 3px
        &:before
        &:after
            content ""
            display block
            position absolute
            left 0
            width 100%
            height 4px
            background $azul
            transition .3s ease
            border-radius 3px
        &:before
            top 7px
        &:after
            top -7px
    &.close
        .lines
            background transparent
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)

#nav-mobile
    +above($tablet)
        display none !important
    display none
    padding 25px 5%
    position relative
    z-index 102
    box-shadow 0 3px 0 darken($azulBg, 4)
    background $azulBg
    text-align right
    margin-top 20px
    a
        display block
        lato 14
        text-transform uppercase
        color $azul
        &.active
            color $azulMarcacao
        + a
            margin-top 4px
