.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

.conteudo
    padding 50px 0 100px
    +tablet()
        padding 40px 0 60px
    +mobile()
        padding 30px 0 30px
