.assistencia-tecnica
    .center
        clearfix()
    img
        display block
        width 38.75%
        float left
        +mobile()
            width 100%
            margin-bottom 20px
    .texto
        width 50%
        float right
        h2
            lato 24
            color $azulDestaque
        p
            lato 16
            color $azul
        *:first-child
            margin-top 0
        *:last-child
            margin-bottom 0
        +tablet()
            width 54%
            h2
                font-size 20px
            p
                font-size 15px
        +mobile()
            width 100%
            h2
                font-size 18px
            p
                font-size 15px
    .tecnicos
        margin-top 35px
        a
            display block
            background $azulDestaque
            padding 30px
            lato 16
            color $azul
            span
                display block
                font-style italic
                font-weight bold
                background $img('email.png') no-repeat left center
                padding-left 40px
                margin-top 10px !important
                transition color .3s
            &:hover span
                color #fff
            + a
                margin-top 20px
        +mobile()
            margin-top 20px
            a
                font-size 15px
                padding 20px
                + a
                    margin-top 12px
