.contato
    padding-bottom 20px
    .center
        clearfix()
    .informacoes
        width 45%
        float left
        p
            display block
            margin 0
            lato 16
            color $azul
            span
                display block
            .tipo
                lato 12
                color $azulDestaque
            .telefone
                lato 20 bold
            + p
                margin-top 50px
        +mobile()
            width 100%
            margin-bottom 25px
            p + p
                margin-top 20px
    form
        width 50%
        float right
        p
            lato 24
            color $azulDestaque
            margin 0 0 10px
        .flash
            width 100%
            display block
            padding 15px
            lato 14
            letter-spacing .5px
            text-transform uppercase
            text-align center
            border-radius 4px
            margin-bottom 8px
            &.enviado
                border 2px solid $azulDestaque
                background $azulDestaque
                color $azul
            &.erro
                border 2px solid #d65858
                color #d03232
        input
        textarea
            width 100%
            display block
            margin-bottom 3px
            background $azulBg
            lato 16
            color $azul
            padding 12px
            border 0
            outline 0
            +placeholder()
                color $azul
        textarea
            resize none
            height 200px
        input[type=submit]
            font-weight bold
            padding 20px
            background $azulDestaque
            cursor pointer
            transition background .3s, color .3s
            &:hover
                background $azulMarcacao
                color #fff
        +tablet()
            p
                font-size 20px
            input
            textarea
                font-size 15px
        +mobile()
            width 100%
            p
                font-size 18px
            input
            textarea
                font-size 15px
            .flash
                font-size 12px
                line-height 1.3
    .mapa
        width 100%
        height 500px
        margin-top 75px
        +tablet()
            height 400px
            margin-top 60px
        +mobile()
            height 300px
            margin-top 40px
        iframe
            width 100%
            height 100%
            display block
