.empresa
    .center
        clearfix()
    img
        width 60%
        display block
        float left
        +tablet()
            width 45%
        +mobile()
            width 100%
            margin-bottom 15px
    .texto
        width 33%
        float right
        lato 16
        color $azul
        *:first-child
            margin-top 0
        *:last-child
            margin-bottom 0
        +tablet()
            width 47%
            font-size 15px
        +mobile()
            width 100%
            font-size 15px
