.equipe
    .center
        clearfix()
    .busca
        width 41.667%
        float left
        background $azul
        padding 35px
        p
            lato 28
            font-weight 300
            color #fff
            margin 0 0 1em
        select
            width 100%
            display block
            border-radius 5px
            border 1px solid $azulDestaque
            color #fff
            outline 0
            background $azul
            lato 16
            padding 10px
            height 50px
        input[type=submit]
            display inline-block
            margin-top 10px
            background $azulDestaque
            border 1px solid $azulDestaque
            transition background .3s, color .3s
            border-radius 5px
            padding 22px 64px
            lato 20 bold
            color $azul
            cursor pointer
            &:hover
                background transparent
                color #fff
        img
            display block
            margin-left auto
            margin-top 50px
            max-width 100%
        +below($tablet)
            width 100%
        +tablet()
            padding 30px
            p
                width 100%
                font-size 20px
                font-weight 400
            form
                display flex
            select
                font-size 15px
            input[type=submit]
                font-size 16px
                padding 14px 32px
                margin 0
                margin-left 10px
            img
                display none
        +mobile()
            padding 25px
            p
                lato 18
            select
                font-size 15px
            input[type=submit]
                width 100%
                font-size 15px
                padding 12px 24px
            img
                display none
    .texto
        width 50%
        float right
        > p
            lato 16
            color $azul
            margin 0
            + p
                margin-top 1em
        h2
            lato 24
            color $azulDestaque
            margin 0 0 1em
            text-transform uppercase
        .estados
            margin-top 30px
        .tab-handle
            display block
            width 100%
            background $azulDestaque
            padding 10px 20px
            lato 16 bold
            color $azul
            text-transform uppercase
            position relative
            margin-top 2px
            transition background .3s, color .3s
            &:after
                content ''
                position absolute
                width 10px
                height 2px
                background #fff
                right 20px
                top 50%
                transform translateY(-50%)
            &:before
                content ''
                position absolute
                width 2px
                height 10px
                background #fff
                right 24px
                top 50%
                transform translateY(-50%)
                transition transform .3s
            &.open
                background $azulMarcacao
                color #fff
                &:before
                    transform translateY(-50%) rotate(90deg)
        .tab-content
            display none
            padding 20px 20px 50px
        .equipe-contato
            color $azul
            clearfix()
            .cargo
                width 100%
                float left
                lato 12
                margin-bottom 3px
            p
                margin 0
                width 60%
                float left
                span
                    display block
                .nome
                    lato 16
                .email
                    lato 16 bold
                    font-style italic
                    display block
                    &:hover
                        color $azulMarcacao
                .celular
                .telefone
                    display block
                    padding-left 24px
                    position relative
                    lato 16
                    &:before
                        content ''
                        width 16px
                        height 100%
                        position absolute
                        left 0
                        top 0
                .celular:before
                    background $img('celular.png') no-repeat center
                .telefone:before
                    background $img('telefone.png') no-repeat center
                &:last-child
                    width 35%
                    float right
            + .equipe-contato
                margin-top 25px
        +below($tablet)
            width 100%
        +tablet()
            margin-top 25px
            > p
                font-size 15px
            h2
                font-size 20px
        +mobile()
            margin-top 20px
            > p
                font-size 15px
            h2
                font-size 18px
            .tab-handle
                padding 10px 15px
                &:after
                    right 15px
                &:before
                    right 19px
            .tab-content
                padding 15px 15px 30px
            .equipe-contato
                p
                    width 100%
                    &:last-child
                        width 100%
                        margin-top 5px
                    .nome
                    .email
                    .celular
                    .telefone
                        font-size 14px
