.home
    +above($tablet)
        padding-bottom 40px
    .banners
        width 100%
        height 510px
        .banner
            width 100%
            height 100%
            background-position center
            background-repeat no-repeat
        .texto
            height 100%
            display flex
            flex-direction column
            justify-content center
            align-items center
            text-align center
            color #989898
            h2
                lato 38 black
                font-style italic
                line-height 1.2
                margin 0
            p
                lato 16
                margin 1em 0
            .btn-catalogo
                margin-top 35px
                display inline-block
                background $azul
                padding 15px 20px
                padding-right 50px
                color #fff
                lato 16 bold
                transition background .3s
                position relative
                &:after
                    content ''
                    position absolute
                    width 19px
                    height 100%
                    background $img('download-catalogo.png') no-repeat center
                    right 20px
                    top 0
                &:hover
                    background $azulMarcacao
        +tablet()
            height 460px
            .banner
                background-size auto 100%
            .texto
                h2
                    font-size 32px
                p
                    font-size 14px
                .btn-catalogo
                    margin-top 20px
                    padding 10px 14px
                    padding-right 45px
                    font-size 14px
                    &:after
                        right 14px
        +mobile()
            height 320px
            .banner
                background-size auto 100%
            .texto
                h2
                    font-size 24px
                p
                    font-size 13px
                .btn-catalogo
                    margin-top 15px
                    padding 8px 11px
                    padding-right 40px
                    font-size 13px
                    &:after
                        right 11px
    .destaques
        margin-top 70px
        +tablet()
            margin-top 60px
        +mobile()
            margin-top 40px
        h2
            position relative
            text-align center
            margin-bottom 25px
            &:before
                content ''
                position absolute
                top 50%
                left 0
                width 100%
                height 1px
                background $azul
            span
                lato 28 light
                color $azul
                display inline-block
                padding 0 22px
                background #fff
                z-index 2
                position relative
            +tablet()
                margin-bottom 20px
                span
                    font-size 24px
            +mobile()
                margin-bottom 15px
                span
                    lato 16
                    display block
                    width 220px
                    margin 0 auto
        .lista-destaques
            display flex
            flex-wrap wrap
            .produto-thumb
                width 25%
                +tablet()
                    width 33.333%
                +mobile()
                    width 50%
    .catalogos
        background $azul
        margin-top 70px
        +tablet()
            margin-top 50px
        +mobile()
            margin-top 30px
        .center
            display flex
            +mobile()
                display block
        .catalogo
            width 50%
            padding 55px 0 75px
            text-align center
            color #fff
            &:first-child
                border-right 2px solid #fff
            &:last-child
                border-left 2px solid #fff
            p
                lato 14
                margin 0
            h2
                lato 28
                margin 16px 0 32px
            .box
                display flex
                align-items center
                width 375px
                margin 0 auto
                padding 6px
                background $azulDestaque
                transition background .3s
                &:hover
                    background #fff
                img
                    display block
                span
                    flex 1
                    lato 20
                    color $azul
                    padding-top 50px
                    background $img('download-azul.png') no-repeat center top
            +tablet()
                padding 35px 0 45px
                p
                    font-size 13px
                h2
                    font-size 24px
                .box
                    width 80%
                    img
                        width 50%
                        max-width 185px
                    span
                        font-size 16px
            +mobile()
                width 100%
                padding 30px 0
                border 0 !important
                &:last-child
                    border-top 2px solid #fff !important
                p
                    font-size 12px
                h2
                    font-size 18px
                    margin 10px 0 20px
                .box
                    width 100%
                    img
                        width 50%
                        max-width 185px
                    span
                        font-size 13px
                        margin-left 10px
                        background-size 20px auto
                        padding-top 35px
