.produtos-fullwidth
    display flex
    flex-wrap wrap
    .produto-thumb
        width 25%
        +tablet()
            width 33.333%
        +mobile()
            width 50%

.produtos
    .center
        clearfix()
    .divider
        width 100%
        height 2px
        background $azulDestaque
        margin 55px 0
        +tablet()
            margin 40px 0
        +mobile()
            margin 30px 0
    .busca
        width 41.667%
        float left
        background $azul
        padding 35px
        p
            lato 28
            font-weight 300
            color #fff
            margin 0 0 1em
        form + form
            margin-top 40px
            +tablet()
                margin-top 30px
            +mobile()
                margin-top 20px
        label
            display block
            lato 16 bold
            color $azulDestaque
            font-style italic
            select
                margin-top 4px
            + label
                margin-top 20px
        select
        input[type=text]
            width 100%
            display block
            border-radius 5px
            border 1px solid $azulDestaque
            color #fff
            outline 0
            background $azul
            lato 16
            padding 10px
            height 42px
            +placeholder()
                color #fff
            &[disabled]
                opacity .8
                border-color rgba(#fff, .3)
        input[type=text] + input[type=text]
            margin-top 10px
        input[type=submit]
            display inline-block
            margin-top 10px
            background $azulDestaque
            border 1px solid $azulDestaque
            transition background .3s, color .3s
            border-radius 5px
            padding 22px 64px
            lato 20 bold
            color $azul
            cursor pointer
            &:hover
                background transparent
                color #fff
        +below($tablet)
            width 100%
        +tablet()
            padding 30px
            p
                width 100%
                font-size 20px
                font-weight 400
            select
            label
            input[type=text]
                font-size 15px
            form
                display flex
                flex-wrap wrap
                > *
                    width calc('25% - 6px') !important
                    margin-top 0 !important
                    margin-right 8px !important
                    &:nth-child(5)
                        margin-right 0 !important
                + form input[type=submit]
                    margin-top 8px !important
            input[type=submit]
                font-size 16px
                padding 0 32px
                height 42px
                margin 0
        +mobile()
            padding 25px
            p
                lato 18
            select
            label
            input[type=text]
                font-size 15px
            input[type=submit]
                width 100%
                font-size 15px
                padding 12px 24px
    .apresentacao
        width 50%
        float right
        color $azul
        lato 16
        *:first-child
            margin-top 0
        *:last-child
            margin-bottom 0
        img
            display block
            max-width 100%
        ul
            padding 0
            margin-top -.5em
            line-height 1.5
            list-style-type none
            li
                position relative
                padding-left 1em
                &:before
                    content '\00b7'
                    position absolute
                    left 0
        .kits
        .tensionadores
            margin-top 4em
            a
                font-size 14px
                font-style italic
                display block
                margin-top 1.5em
                &:hover
                    color $azulMarcacao
        +below($tablet)
            width 100%
        +tablet()
            margin-top 30px
            font-size 15px
            .kits
            .tensionadores
                margin-top 2.6em
        +mobile()
            margin-top 25px
            font-size 15px
            .kits
            .tensionadores
                margin-top 2em
    .resultados-lateral
        width 50%
        float right
        display flex
        flex-wrap wrap
        .produto-thumb
            width 50%
        + .produtos-fullwidth
            float left
            width 100%
            clear both
        +tablet()
            width 100%
            margin-top 30px
            .produto-thumb
                width 33.333%
        +mobile()
            width 100%
            margin-top 25px
            .produto-thumb
                width 50%
    .detalhes
        width 50%
        float right
        color $azul
        lato 16
        +tablet()
            width 100%
            margin-top 40px
        +mobile()
            width 100%
            margin-top 30px
        .capa
            position relative
            width 100%
            max-width 600px
            &:before
            &:after
                content ''
                width 66.667%
                height 66.667%
                position absolute
            &:before
                top 0
                left 0
                border-top 1px solid $azul
                border-left 1px solid $azul
            &:after
                bottom 0
                right 0
                border-right 1px solid $azul
                border-bottom 1px solid $azul
            img
                max-width 100%
                display block
        h1
            lato 24
            color $azulDestaque
            margin 1.2em 0 0
            +mobile()
                font-size 20px
            + p
                margin-top 0
        p
            margin 1em 0
            &.cod-nytron
                lato 14
                font-style italic
                span
                    font-weight bold
                    font-style normal
            &.cod-original
                margin 1em 0
                lato 14
                font-style italic
                span
                    font-style normal
            &.aplicacao
                lato 14
                span
                    display block
                    font-weight bold
                    font-style italic
            &.refil
                lato 14
                span
                    font-weight bold
                    font-style italic
        .imagens
            display block
            margin-top 25px
            width 100%
            max-width 600px
            img
                display block
                max-width 100%
                + img
                    margin-top 10px

.produto-thumb
    display block
    padding 15px
    text-align center
    border 1px solid transparent
    transition border .3s
    color $azul
    +mobile()
        padding 8px
    img
        display block
        margin 0 auto 15px
        max-width 100%
    .placeholder
        width 80%
        height 0
        padding-bottom 75%
        background #efefef
        margin 0 auto 15px
    .titulo
        display block
        lato 14
        padding-top 15px
        position relative
        +mobile()
            font-size 13px
            padding-top 12px
        &:before
            content ''
            position absolute
            width 150px
            height 1px
            left 50%
            top 0
            transform translateX(-50%)
            background $azul
            +mobile()
                width 65%
    .codigo
        display block
        lato 12
        margin-top 10px
        +mobile()
            font-size 11px
    &:hover
        border 1px solid $azulDestaque
